@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
* html{
    font-size: 62.5%;
}
body{
    font-size: 15px;
    font-family:  'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}
.container{
    background: hsl(233, 47%, 7%);
    padding:150px;
}
.content{
    display: flex;
    flex-direction: row-reverse;
}
.text{
    background: hsl(244, 38%, 16%);
    width: 50%;
    border-radius: 10px 0px 0px 10px;
    padding: 50px 90px 50px 60px;
}
.highlight{
    color: rgb(219, 57, 219);
}
h1{
color: hsl(0, 0%, 100%);
font-size: 30px;
font-weight: 600;
margin-bottom: 30px;
}
p{
    color:hsl(0, 9%, 85%);
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 20px;
}
.fig{
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}
.fig-cnt{
    color: hsl(0, 9%, 85%);
    font-size: 11px;
    text-transform: uppercase;
}
.image{
    width: 50%;
    border-radius: 0px 10px 10px 0px;
    background: rgb(182, 14, 182);
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    opacity: 0.4;
}
.img1{ 
    display: none;}
.footer{
    display: flex;
    justify-content: space-between;
}
@media screen and(max-width:375px){
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}